.env
.venv/
__pycache__/
*.pyc
.pytest_cache/

node_modules/
.next/

data/local/
data/raw/
data/processed/

storage/*
!storage/.gitkeep

properties.csv
properties_cleaned.csv
properties_cleaned_singlish.csv

*.dxf

